package main

import (
	"os"
	"strconv"

	"{{.LibraryURL}}"
	"{{.ModulePath}}/{{.PackageName}}"
	"github.com/spf13/pflag"
)

func main() {
	var port int
	pflag.IntVarP(&port, "port", "p", 0, "The network port of the game server.")
	pflag.Parse()

	if port == 0 {
		portStr, ok := os.LookupEnv("CG_PORT")
		if ok {
			port, _ = strconv.Atoi(portStr)
		}
	}

	if port == 0 {
		port = 80
	}

	server := cg.NewServer("{{.Name}}", cg.ServerConfig{
		Port:                    port,
		CGEFilepath:             "events.cge",
	})

	server.Run(func(cgGame *cg.Game) {
	    {{.PackageName}}.NewGame(cgGame).Run()
	})
}
